hr {
  border: 3px solid #666;
  border-radius: 300px/10px;
  height: 0px;
  text-align: center;
}
.imagenCentrada {
  display: flex;
  justify-content: center;
}

.parteUno {
  margin-bottom: 10px;
}

.parteUno img {
  width: 200px;
}

.item-2 img {
  height: 300px;
}

.item-2 input {
  border: 1px solid black;
}

.flex-container-items {
  display: flex;
  justify-content: space-around;
}

.flex-container-items2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opciones {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  text-align: center;
  padding: 20px;
}

.select-group {
  margin-bottom: 20px;
}

select {
  padding: 10px;
  margin: 0 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e0e0e0;
}
